.swiper-pagination {
  margin-top: 20rem;
}

.swiper-pagination-bullet {
  background-color: #ac6b34;
}
.active {
  text-transform: uppercase;
  transform: scale(1.2);
  letter-spacing: 0.15em;
  opacity: 1;
}
.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 1px;
  background: white;
  opacity: 0.6;
}
.font-anton {
  font-family: 'Anton', sans-serif;
}
.roboto-600 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}